@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&display=swap');

:root {
  --color-dark: #0b5e2e;
  --color-mid: #e6b771;
  --color-light: #fff5c5;
  --color-red: #C83000;
  --color-pista: #681f1f;
  --max-width: 150ch;
  --font-primary: 'League Spartan', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

li,
ul {
  text-align: left;
  line-height: 1.2;
  margin: 1em auto;
  padding-left: 0.5em;
}

.hero {
  display: grid;
  min-height: 5vh;
  place-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  line-height: 2.4em;
}

body {
  background: var(--color-light);
  padding: 1em;
  color: var(--color-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: var(--font-primary);

  @media screen and (min-width: 600px) {
    padding: 5em;
  }
}

a {
  color: var(--color-pista);
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

a:hover {
  color: var(--color-dark);
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
  text-align: left;
}

p {
  font-size: 1.75em;
  line-height: 1.45em;
}

.content {
  max-width: 80ch;
  margin: 1em auto;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 90ch;
  margin: 0 auto;
  padding: 1rem 0;
  flex-direction: row;
  align-items: center;
}

.path {
  font-family: var(--font-primary);
  font-size: 2.25em;
  color: var(--color-pista);
  display: flex;
  flex-direction: row-reverse;
}

.path a {
  font-weight: 700;
  color: var(--color-red);
  transition: all ease-in-out 0.2s;
}

.path a:hover {
  color: var(--color-mid);
}

.pagetitle {
  font-size: 2.4em;
}

.pagedescription {
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.3em;
}

.project-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1em;
  border-radius: 11px;
  justify-content: space-between;
  background-color: var(--color-light);
  filter: brightness(1);
  transition: all ease-in-out 0.3s;
}

.project-item:hover {
  filter: brightness(1.09);
  transition: all ease-in-out 0.3s;
  content: " ";
}

.project-item__header>a {
  border-bottom: 2px solid transparent;
}

.project-item__header>a:hover {
  border-bottom: 2px solid salmon;
  cursor: pointer;
}

.project-item>.project-item__details>.project-item__about>p>u {
  border-bottom: 2px transparent solid;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.project-item:hover>.project-item__details>.project-item__about>p>u {
  border-bottom: 2px dashed var(--color-red);
  transition: all ease-in-out 0.3s;
}

.project-item__about {
  font-size: 0.75em;
}

.project-item__price {
  font-size: 1.25em;
  color: var(--color-dark);
  margin-top: 0.5em;
}

.project-item__header {
  font-size: 2em;
}

footer {
  display: grid;
  min-height: 5vh;
  text-align: center;
}

.colophon {
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  .colophon {
    font-size: 1.6em;
  }

  .project-item__about {
    font-size: 0.85em;
  }

  .pagetitle {
    font-size: 3.5em;
  }

  .pagedescription {
    font-size: 3em;
  }
}