@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&display=swap');

:root {
  --color-dark: #064420;
  --color-mid: #e6b771;
  --color-light: #FAF3EC;
  --color-red: #C83000;
  --color-pista: #A34196;
  --max-width: 150ch;
  --font-primary: 'League Spartan', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}



li,
ul {
  text-align: left;
  line-height: 1.2;
  margin: 1em auto;
  padding-left: 0.5em;
}

.hero {
  display: grid;
  min-height: 50vh;
  place-content: center;
  padding-top: 15vh;
  padding-bottom: 5vh;
  text-align: center;
}

body {
  background: var(--color-light);
  padding: 1em;
  color: var(--color-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: var(--font-primary);

  @media screen and (min-width: 600px) {
    padding: 5em;
  }
}

a {
  color: var(--color-pista);
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

a:hover {
  color: var(--color-red);
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
  text-align: left;
}

p {
  font-size: 1.75em;
  line-height: 1.45em;
}

.content {
  max-width: 100ch;
  margin: 1em auto;
}

.project-item {
  border: #C83000 2px solid;
}

.error-svg {
  fill: var(--color-red);
  animation: roll-in-blurred-left;
  max-width: 90%;
}

.svg-line {
  fill: var(--color-pista);
  height: 5em;
}

.svg-o {
  fill: var(--color-pista);
  border: 5px dashed var(--color-red);
  height: 3em;
  width: 3em;
  margin: 1em auto;
  border-radius: 50%;
  padding: 2em;
  transition: all ease-in-out 0.2s;
}

.svg-o:hover {
  fill: var(--color-red);
  border: 5px dashed var(--color-pista);
}

.go-to-top {
  height: 2em;
  width: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  border-radius: 50%;
  padding: 1em;
  border: 5px dashed var(--color-light);
  fill: var(--color-mid);
  background-color: var(--color-dark);
  transition: all ease-in-out 0.2s;
}

.go-to-top:hover {
  border: 5px dashed var(--color-dark);
  fill: var(--color-dark);
  background-color: var(--color-mid);
}

.cta {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: stretch;
  max-width: 150ch;
}

.path {
  font-family: var(--font-primary);
  font-size: 1.5em;
  font-weight: 900;
  color: var(--color-pista);
  display: flex;
  flex-direction: row-reverse;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 150ch;
  margin: 0 auto;
  padding: 1rem 0;
  flex-direction: row;
  align-items: center;
}

.path a {
  color: var(--color-mid);
  transition: all ease-in-out 0.2s;
}

.path a:hover {
  color: var(--color-red);
}

@media (min-width: 1025px) {
  .project-item__about {
    font-size: 1.5em;
  }
  .project-item__header {
    font-size: 2.5em;
  }
  /* CSS */
  .pagedescription {
    font-size: 2.5em;
  }

  .path {
    font-size: 2em;
  }

  .project-item__cuisine {
    font-size: 1.5em;
  }

  .pagetitle a {
    font-size: 9em;
  }
}

.footer-link {
  font-size: 1.5em;
  letter-spacing: 0em;
  color: var(--color-mid);
  font-family: monospace;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 0.3s;
}

.footer-link:hover {
  color: var(--color-red);
  border-bottom: 2px solid var(--color-pista);
}

.footer-links {
  justify-content: center;
  row-gap: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3em auto;
}

footer {
  display: grid;
  min-height: 20vh;
  text-align: center;
}

/* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) {
  .colophon {
    font-size: 1.5em;
  }
  .pagetitle a {
    font-size: 6em;
  }
  .circle, .cart {
    margin-left: 13em;
    width: 12em;
    height: 12em;
  }
  .footer-links {
    flex-direction: row;
    column-gap: 1em;
  }

  /* CSS */
}
