html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: serif;
  font-size: 24px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: irevamp-color("background");
  color: var(--irevamp-color-primary);
  padding: 0 1.25rem;
}

:root {
  --menu-bg: #f8f0ce;
  --menu-color-primary: #122f54;
  --menu-color-secondary: #881100;

  --menu-font-sans: "Lato", sans-serif;
  --menu-font-serif: "Libre Baskerville", sans-serif;
  --menu-font-cursive: "Great Vibes", cursive;
}

@keyframes menu-slide-up {
  from {
    opacity: 0.75;
    margin-top: 50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

.menu-slide-up {
  animation: menu-slide-up 1.5s;
}

.irevamp-mx-auto {
  margin: 0 auto;
}

.menu {
  background-color: var(--menu-bg);
  transition: all ease-in-out 0.3s;
  color: var(--menu-color-primary);
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin: 0 auto;
}

.menu .menu-section-title {
  font-family: var(--menu-font-sans);
  font-weight: 400;
  color: var(--menu-color-secondary);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: 0.07em;
}

.menu .menu-redirect {
  border-bottom: 1px solid transparent;
}

.menu .menu-redirect:hover {
  border-bottom: 1px solid var(--menu-color-primary);
  transition: all ease-in-out 0.2s;
}

.menu .menu-divider {
  font-family: var(--menu-font-cursive);
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;

  /* @include gt-sm {
    font-size: 4em;
  } */
}

.menu .menu-header:hover {
  filter: hue-rotate(40deg);
  transition: all ease-in-out 0.3s;
}

.menu .menu-header {
  font-family: var(--menu-font-serif);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1.3;
  transition: all ease-in-out 0.3s;
}


.menu .menu-collection {
  max-width: 100ch;
  text-align: left;
}

.menu a {
  color: var(--menu-color-primary);
  text-decoration: none;
  border: none;
  background: none;
  transition: color ease-in-out 0.3s;
}

.menu .glossary {
  font-family: var(--menu-font-serif);
  margin-bottom: 10px;
  color: var(--menu-color-secondary);
  text-transform: lowercase;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.menu-item {
  display: flex;
  flex-direction: row;
  padding: 1.25em 0.75em;
  border-radius: 9px;
  margin: 0.5em auto;
  justify-content: space-between;
  background-color: var(--menu-bg);
  filter: brightness(1);
  transition: all ease-in-out 0.3s;
}

.menu-item u {
  text-decoration: none;
  border-bottom: none;
  transition: all ease-in-out 0.1s;
}

.menu .menu__about {
  display: flex;
  flex-direction: column;
  max-width: 85%;
}

.menu .menu__title {
  font-family: var(--menu-font-sans);
  text-transform: uppercase;
  letter-spacing: 0.175em;
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.menu .menu__title:hover span {
  display: none;
  transition: all ease-in-out 0.3s;
}

.menu .menu__price {
  font-family: var(--menu-font-serif);
  font-weight: 700;
  margin-top: 3px;
  font-size: 1.2em;
}

.menu .menu__description {
  font-family: var(--menu-font-serif);
  font-weight: 400;
  font-size: 1em;
  color: var(--menu-color-secondary);
}

.menu-item__price-project::after {
  content: "🌱";
  display: flex;
  padding-top: 0.25em;
}

.menu-item-row {
  display: flex;
  flex-direction: column;
}

.menu-item-column {
  height: auto;
  width: 100%;
}

.oak {
  text-align: center;
  margin: 0 auto;
  max-width: 150px;
}

.menu-item:hover {
  cursor: alias;
  filter: brightness(1.09);
  transition: all ease-in-out 0.3s;
}

.menu-item__title {
  font-size: 1.3em;
  font-weight: 600;
  width: fit-content;
  padding: 0.15em;
  border: 3px dashed var(--menu-color-primary);
}

.menu-item__title:hover {
  border: 3px dashed var(--menu-color-secondary);
}

.menu-item__title:hover a::after {
  transition: all ease-in-out 0.3s;
  content: "🔗";
  display: inline-block;
}

.menu-item u:hover {
  border-bottom: 2px dashed var(--menu-color-secondary);
}


.menu-hori {
  border-color: var(--menu-color-secondary);
  width: 70%;
  margin: 2em auto;
}


@media (min-width: 481px) {
  body {
    padding: 0 4rem;
  }

  .menu .glossary {
    margin-top: 1em;
  }

  .menu-item-row {
    flex-direction: row;
    column-gap: 3em;
  }

  .menu-item-column {
    width: 50%;
  }

  .oak {
    max-width: 200px;
  }
}