<footer>
  <div class="footer-links">

    ※
    <a
      class="footer-link"
      href="/colophon"
      alt="View more information about this site">
      <view sauce />
    </a>
    ※
  </div>
</footer>