<div class="food-item">
  <h2 class="food-item__header">
    <a target="_blank" href="{{ project.data.url }}">{{ project.data.title }}</a>
  </h2>
  <div class="food-item__about">{{ project.templateContent | safe }}</div>
</div>